version: '2'
services:
  db:
    image: mysql:5.7
    container_name: shop
    ports:
      - 3305:3306
    environment:
      - MYSQL_USER=root
      - MYSQL_DATABASE=shop
      - MYSQL_ROOT_PASSWORD=root
    command: ['mysqld', '--character-set-server=utf8']
    networks:
      main:
        aliases:
          - shop
networks:
  main: