version: '2'
services:
  db:
    image: mysql:5.5
    container_name: shop
    restart: always
    ports:
      - 3305:3306
    environment:
      - MYSQL_USER=root
      - MYSQL_DATABASE=shop
      - MYSQL_ROOT_PASSWORD=root
    networks:
      main:
        aliases:
          - shop
networks:
  main: